@model HersFlowers.Models.Customer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h1>Index</h1>
<p>
    <a asp-action="Index" asp-route-id="@Model.Id">Home</a> |
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Subscribe" asp-route-id="">Subscribe to Our Monthly Email</a> |
    <a asp-action="ViewOwnerSchedule" asp-route-id="">View Owner's Schedule</a> |
    <a asp-action="RequestMeeting" asp-route-id="">Request a Meeting</a> |
    <a asp-action="Product" asp-route-id="">Product</a> |
    <a asp-action="ShoppingCart" asp-route-id="">Shopping Cart</a> |
</p>
<div>
    <h4>Your Account Information</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
</div>

