@model HersFlowers.Models.Customer

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h1 style="text-shadow: 2px 2px 2px black; color:floralwhite" class="text-center font-weight-bold shadow-sm">Your Account Information</h1>
<br />
<p>
    <a class="text-light text-decoration-none" asp-action="Index" asp-route-id="@Model.Id">Home</a> |
    <a class="text-light text-decoration-none" asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a class="text-light text-decoration-none" asp-action="Subscribe" asp-route-id="">Subscribe to Our Monthly Email</a> |
    <a class="text-light text-decoration-none" asp-action="ViewOwnerSchedule" asp-route-id="">View Owner's Schedule</a> |
    <a class="text-light text-decoration-none" asp-action="RequestMeeting" asp-route-id="">Request a Meeting</a> |
    <a class="text-light text-decoration-none" asp-action="Product" asp-route-id="">Product</a> |
    <a class="text-light text-decoration-none" asp-action="ShoppingCart" asp-route-id="">Shopping Cart</a> |
</p>
<br />
<div>

    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
    </dl>
</div>

