@model IEnumerable<HersFlowers.Models.ShoppingCartItem>

@{
    ViewData["Title"] = "ShoppingCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>ShoppingCart</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantity)
            </th>
            <th>
                Price
            </th>
            <th>
                @Html.DisplayNameFor(model => model.flower.Price)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.flower.Price)
            </td>
            <td>
                
            </td>
            <td>
                
            </td>

            <td>
                <a asp-action="AddAnotherItem" asp-route-id="@item.Id">Add another item</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Remove an item</a>
            </td>
        </tr>
}
    </tbody>
</table>
