@model IEnumerable<HersFlowers.Models.ShoppingCartItem>

@{
    ViewData["Title"] = "ShoppingCart";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h1>ShoppingCart</h1>
<p>
    <a asp-action="Index" asp-route-id="@ViewBag.Id">Home</a> |
    <a asp-action="Edit" asp-route-id="@ViewBag.Id">Edit</a> |
    <a asp-action="Subscribe" asp-route-id="">Subscribe to Our Monthly Email</a> |
    <a asp-action="ViewOwnerSchedule" asp-route-id="">View Owner's Schedule</a> |
    <a asp-action="RequestMeeting" asp-route-id="">Request a Meeting</a> |
    <a asp-action="Product" asp-route-id="">Product</a> |
    <a asp-action="ShoppingCart" asp-route-id="">Shopping Cart</a> |
</p>
<table class="table table-hover table-bordered">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Quantity) of Bouquets
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Total)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Quantity)
                </td>
                <td>
                    $@Html.DisplayFor(modelItem => item.Total)
                </td>
                <td>
                </td>
                @*<td>
                    <a asp-action="UpdateCart" asp-route-id="@item.Id">Update Cart</a>
                </td>*@
            </tr>
        }
    </tbody>
</table>
