@model IEnumerable<HersFlowers.Models.Request>

@{
    ViewData["Title"] = "ViewOwnerSchedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>These are the Unavailable Date and Time</h1>
<h4></h4>

<p>
    <a asp-action="Subscribe" asp-route-id="">Subscribe to Our Monthly Email</a> |
    <a asp-action="RequestMeeting" asp-route-id="">Request a Meeting</a> |
    <a asp-action="Product" asp-route-id="">Product</a> |
    <a asp-action="ShoppingCart" asp-route-id="">Shopping Cart</a> |
    <a asp-action="ViewOwnerSchedule" asp-route-id="">View Owner's Schedule</a>
</p>
<table class="table">
    <thead>
        <tr>

            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>

            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndTime)
            </td>

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
