@model IEnumerable<HersFlowers.Models.Request>

@{
    ViewData["Title"] = "ViewOwnerSchedule";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
<h1 style="text-shadow: 2px 2px 2px black; color:floralwhite" class="text-center font-weight-bold shadow-sm">View Owner's Schedule</h1>
<br />
<p>
    <a class="text-light text-decoration-none" asp-action="Index" asp-route-id="@ViewBag.Id">Home</a> |
    <a class="text-light text-decoration-none" asp-action="Edit" asp-route-id="@ViewBag.Id">Edit</a> |
    <a class="text-light text-decoration-none" asp-action="Subscribe" asp-route-id="">Subscribe to Our Monthly Email</a> |
    <a class="text-light text-decoration-none" asp-action="ViewOwnerSchedule" asp-route-id="">View Owner's Schedule</a> |
    <a class="text-light text-decoration-none" asp-action="RequestMeeting" asp-route-id="">Request a Meeting</a> |
    <a class="text-light text-decoration-none" asp-action="Product" asp-route-id="">Product</a> |
    <a class="text-light text-decoration-none" asp-action="ShoppingCart" asp-route-id="">Shopping Cart</a> |
</p>
<br />

<p style="color: white"><strong>Please be aware that these time slots are not available.</strong></p>
<table class="table table-striped table-bordered bg-light text-dark">
    <thead class="thead-dark">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StartTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.EndTime)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>

                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.StartTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.EndTime)
                </td>
            </tr>
        }
    </tbody>
</table>
